platform:
    - x64

environment:

  matrix:
    #- PYTHON: "C:\\Python35-{platform}"
    - PYTHON: "C:\\Python36-%PLATFORM%"

install:
  # We need wheel installed to build wheels
  - "%PYTHON%\\python.exe -m pip install wheel"

build: off

after_test:
  - "%PYTHON%\\python.exe setup.py bdist_wheel"

artifacts:
  - path: dist\*
